/* assets/css/custom.css */

/* 当 article 元素具有 has-summary 类时（即有摘要），移除 article-details 的 padding-bottom */
/* 这样可以防止 article-details 和 article-summary 之间出现双重底部边距 */
.has-summary.article-details {
    padding-bottom: 0 !important; /* 使用 !important 确保覆盖主题默认样式，如果它设置了默认值 */
}


.article-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
    padding-bottom: var(--card-padding);
    gap: 15px;
}

/* 确保摘要内容中的段落没有多余的上/下边距 */
.article-summary p {
    margin-top: 0;
    margin-bottom: 0;
}

/* 使摘要中的图片响应式 */
.article-summary img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    /* 覆盖主题中设置的平滑滚动 */
    scroll-behavior: auto !important;
}
